@font-face {
  font-family: 'digital-clock-font';
  src: url('./static/digital-7.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.clock .time {
  font-family: 'digital-clock-font', serif;
  font-size: 40px;
}

.blink {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
