<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <!-- support for mobile touch devices -->
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
</head>
<body>
    <div id="my-clock" class="clock">
      <p class="time">
        <span class="hours"></span>:<span class="minutes"></span>:<span class="seconds"></span>
      </p>
      <button class="mode-button">Mode</button>
      <button class="increase-button">Increase</button>
      <button class="light-button">Light</button>
    </div>
</body>
</html>
